<div>
<p><h2>Estadisticas</h2></p>
<br />
<table border='1'>
<tr>
<td>
El número de preguntas:
</td>
<td>
<%=estadistica.countQuizes %>
</td>
</tr>

<tr>
<td>
El número de comentarios totales:
</td>
<td>
<%=estadistica.countComent %>
</td>
</tr>

<tr>
<td>
El número medio de comentarios por pregunta:
</td>
<td>
<%=estadistica.MediaComentarioXPregunta %>
</td>
</tr>

<tr>
<td>
El número de preguntas sin comentarios:
</td>
<td>
<%=estadistica.countQuizSinComentarios %>
</td>
</tr>

<tr>
<td>
El número de preguntas con comentarios:
</td>
<td>
<%=estadistica.countQuizConComentarios %>
</td>
</tr>
</table>

</div>
